In [4]:
import pandas as pd
import html
import re
import codecs
import os

In [5]:
data = {}
for csv in os.listdir('../../data'):
    name = csv.replace('.csv','')
    data[name] = pd.read_csv(os.path.join('../../data',csv))

In [14]:
multi_roles = data['actors'].groupby(['id', 'name'])['role'].nunique().reset_index()

# Tieni solo quelli con piÃ¹ di un ruolo
multi_roles = multi_roles[multi_roles['role'] > 1]

print(multi_roles)

              id                name  role
17787    1000287        Ted McCarthy     2
92366    1001880      Diana Davidson     2
95423    1001950         David Clark     2
151263   1003380     Nicholas Quirke     2
160186   1003633   Nathaniel Spencer     2
...          ...                 ...   ...
5793051  1940313          John Enick     2
5793765  1940580        Bradley Bell     2
5796036  1941184  Janna van der Valk     2
5796114  1941230  Janna van der Valk     2
5796260  1941312  Janna van der Valk     2

[640 rows x 3 columns]

In [ ]:
for name,df in data.items():
    
    print(df.info())
    print('\n\n')

actors
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5798450 entries, 0 to 5798449
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   id      int64
 1   name    object
 2   role    object
dtypes: int64(1), object(2)
memory usage: 132.7+ MB
None



countries
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693476 entries, 0 to 693475
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       693476 non-null  int64
 1   country  693476 non-null  object
dtypes: int64(1), object(1)
memory usage: 10.6+ MB
None



crew
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4720183 entries, 0 to 4720182
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   id      int64
 1   role    object
 2   name    object
dtypes: int64(1), object(2)
memory usage: 108.0+ MB
None



genres
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1046849 entries, 0 to 1046848
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   id      1046849 non-null  int64
 1   genre   1046849 non-null  object
dtypes: int64(1), object(1)
memory usage: 16.0+ MB
None



languages
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038762 entries, 0 to 1038761
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   id        1038762 non-null  int64
 1   type      1038762 non-null  object
 2   language  1038762 non-null  object
dtypes: int64(1), object(2)
memory usage: 23.8+ MB
None



movies
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941597 entries, 0 to 941596
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           941597 non-null  int64
 1   name         941587 non-null  object
 2   date         849684 non-null  float64
 3   tagline      139387 non-null  object
 4   description  780785 non-null  object
 5   minute       760027 non-null  float64
 6   rating       90999 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 50.3+ MB
None



posters
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941597 entries, 0 to 941596
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      941597 non-null  int64
 1   link    760885 non-null  object
dtypes: int64(1), object(1)
memory usage: 14.4+ MB
None



releases
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332782 entries, 0 to 1332781
Data columns (total 5 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   id       1332782 non-null  int64
 1   country  1332782 non-null  object
 2   date     1332782 non-null  object
 3   type     1332782 non-null  object
 4   rating   333980 non-null   object
dtypes: int64(1), object(4)
memory usage: 50.8+ MB
None



rotten_tomatoes_reviews
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129887 entries, 0 to 1129886
Data columns (total 9 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   rotten_tomatoes_link  1129887 non-null  object
 1   movie_title           1129887 non-null  object
 2   critic_name           1111366 non-null  object
 3   top_critic            1129887 non-null  bool
 4   publisher_name        1129887 non-null  object
 5   review_type           1129887 non-null  object
 6   review_score          823985 non-null   object
 7   review_date           1129887 non-null  object
 8   review_content        1064109 non-null  object
dtypes: bool(1), object(8)
memory usage: 70.0+ MB
None



studios
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679283 entries, 0 to 679282
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      679283 non-null  int64
 1   studio  679273 non-null  object
dtypes: int64(1), object(1)
memory usage: 10.4+ MB
None



themes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125641 entries, 0 to 125640
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      125641 non-null  int64
 1   theme   125641 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.9+ MB
None



the_oscar_awards
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10889 entries, 0 to 10888
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10889 non-null  int64
 1   year_ceremony  10889 non-null  int64
 2   ceremony       10889 non-null  int64
 3   category       10889 non-null  object
 4   name           10884 non-null  object
 5   film           10570 non-null  object
 6   winner         10889 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 521.2+ KB
None

In [3]:
for name,df in data.items():
    print('+++++',name,'+++++')
    for col in df.columns:
        print(f"\n{col}:")
        print(f"  Non-null: {df[col].count()}")
        print(f"  Null: {df[col].isnull().sum()}")
        print(f"  Unique values: {df[col].nunique()}")

+++++ actors +++++

id:
  Non-null: 5798450
  Null: 0
  Unique values: 634302

name:
  Non-null: 5798446
  Null: 4
  Unique values: 1600662

role:
  Non-null: 4436891
  Null: 1361559
  Unique values: 1920085
+++++ countries +++++

id:
  Non-null: 693476
  Null: 0
  Unique values: 617192

country:
  Non-null: 693476
  Null: 0
  Unique values: 247
+++++ crew +++++

id:
  Non-null: 4720183
  Null: 0
  Unique values: 807062

role:
  Non-null: 4720183
  Null: 0
  Unique values: 29

name:
  Non-null: 4720182
  Null: 1
  Unique values: 1147402
+++++ genres +++++

id:
  Non-null: 1046849
  Null: 0
  Unique values: 676491

genre:
  Non-null: 1046849
  Null: 0
  Unique values: 19
+++++ languages +++++

id:
  Non-null: 1038762
  Null: 0
  Unique values: 905578

type:
  Non-null: 1038762
  Null: 0
  Unique values: 3

language:
  Non-null: 1038762
  Null: 0
  Unique values: 192
+++++ movies +++++

id:
  Non-null: 941597
  Null: 0
  Unique values: 941597

name:
  Non-null: 941587
  Null: 10
  Unique values: 795421

date:
  Non-null: 849684
  Null: 91913
  Unique values: 149

tagline:
  Non-null: 139387
  Null: 802210
  Unique values: 135521

description:
  Non-null: 780785
  Null: 160812
  Unique values: 763348

minute:
  Non-null: 760027
  Null: 181570
  Unique values: 1034

rating:
  Non-null: 90999
  Null: 850598
  Unique values: 355
+++++ posters +++++

id:
  Non-null: 941597
  Null: 0
  Unique values: 941597

link:
  Non-null: 760885
  Null: 180712
  Unique values: 759599
+++++ releases +++++

id:
  Non-null: 1332782
  Null: 0
  Unique values: 826018

country:
  Non-null: 1332782
  Null: 0
  Unique values: 246

date:
  Non-null: 1332782
  Null: 0
  Unique values: 43108

type:
  Non-null: 1332782
  Null: 0
  Unique values: 6

rating:
  Non-null: 333980
  Null: 998802
  Unique values: 284
+++++ rotten_tomatoes_reviews +++++

rotten_tomatoes_link:
  Non-null: 1129887
  Null: 0
  Unique values: 17706

movie_title:
  Non-null: 1129887
  Null: 0
  Unique values: 17100

critic_name:
  Non-null: 1111366
  Null: 18521
  Unique values: 11108

top_critic:
  Non-null: 1129887
  Null: 0
  Unique values: 2

publisher_name:
  Non-null: 1129887
  Null: 0
  Unique values: 2230

review_type:
  Non-null: 1129887
  Null: 0
  Unique values: 2

review_score:
  Non-null: 823985
  Null: 305902
  Unique values: 814

review_date:
  Non-null: 1129887
  Null: 0
  Unique values: 8015

review_content:
  Non-null: 1064109
  Null: 65778
  Unique values: 949079
+++++ studios +++++

id:
  Non-null: 679283
  Null: 0
  Unique values: 438197

studio:
  Non-null: 679273
  Null: 10
  Unique values: 160881
+++++ themes +++++

id:
  Non-null: 125641
  Null: 0
  Unique values: 24508

theme:
  Non-null: 125641
  Null: 0
  Unique values: 109
+++++ the_oscar_awards +++++

year_film:
  Non-null: 10889
  Null: 0
  Unique values: 96

year_ceremony:
  Non-null: 10889
  Null: 0
  Unique values: 96

ceremony:
  Non-null: 10889
  Null: 0
  Unique values: 96

category:
  Non-null: 10889
  Null: 0
  Unique values: 115

name:
  Non-null: 10884
  Null: 5
  Unique values: 7039

film:
  Non-null: 10570
  Null: 319
  Unique values: 5041

winner:
  Non-null: 10889
  Null: 0
  Unique values: 2

In [49]:
data['movies'].rating.isnull()

0         False
1         False
2         False
3         False
4         False
          ...
941592     True
941593     True
941594     True
941595     True
941596     True
Name: rating, Length: 941597, dtype: bool